@using Port.Shared
@using System.Threading
@using Port.Client.Threading
@inject HttpClient Http
@inject NavigationManager NavigationManager
@implements IDisposable

<div class="top-row pl-4 navbar navbar-dark">
    <span>@_location</span>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

@if (_contexts == null)
{
    <p>
        <em>Loading contexts...</em>
    </p>
}
else
{
    <div class="@NavMenuCssClass">
        <ul class="nav flex-column">
            @foreach (var context in _contexts)
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link"
                             href="@($"contexts/{context.Name}")"
                             Match="NavLinkMatch.All">
                        <span>@context.Name</span>
                    </NavLink>
                </li>
            }
        </ul>
    </div>
}

@code
{
    private bool _collapseContextMenu = true;
    private Context[] _contexts = new Context[0];
    private string _location = "";
    private readonly CancellationTokenSource _cts = new();
    private CancellationToken CancellationToken => _cts.Token;

    private string? NavMenuCssClass => _collapseContextMenu ? "collapse" : null;

    [CascadingParameter]
    public Error Error { get; set; } = default!;

    protected override Task OnInitializedAsync()
    {
        NavigationManager.LocationChanged += (
            sender,
            args) =>
        {
            var positionOfLastSegment = args.Location.LastIndexOf('/');
            _location = positionOfLastSegment >= 0 ?
                args.Location.Substring(positionOfLastSegment + 1)
                : "";
            InvokeAsync(StateHasChanged);
        };

        return Task.CompletedTask;
    }

    private readonly SemaphoreSlimGate _gate = SemaphoreSlimGate.OneAtATime;
    protected override async Task OnParametersSetAsync()
    {
        using (await _gate.WaitAsync(CancellationToken))
        {
            if (Error.HasError())
            {
                return;
            }

            if (_contexts.Any())
            {
                return;
            }

            try
            {
                _contexts = await Http.GetFromNewtonsoftJsonAsync<Context[]>("Context", cancellationToken: CancellationToken);
            }
            catch (Exception e)
            {
                await Error.ProcessErrorAsync(e);
            }
        }
    }

    private void ToggleNavMenu()
    {
        _collapseContextMenu = !_collapseContextMenu;
    }

    public void Dispose()
    {
        _cts.Cancel();
        _cts.Dispose();
        _gate.Dispose();
    }
}