@page "/"
@using Kubernetes.PortForward.Manager.Shared
@inject HttpClient Http

<h1>Port forwards</h1>

<p>Configured port forwards.</p>

@if (_pods == null)
{
<p><em>Loading...</em></p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>@nameof(Pod.Namespace)</th>
            <th>@nameof(Pod.Name)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pod in _pods)
        {
        <tr>
            <td>@pod.Namespace</td>
            <td>@pod.Name</td>
        </tr>
        }
    </tbody>
</table>
}

@code {
    private Pod[] _pods;

    protected override async Task OnInitializedAsync()
    {
        _pods = await Http.GetFromJsonAsync<Pod[]>("Pod");
    }

}
