@page "/"
@using Kubernetes.PortForward.Manager.Shared
@inject HttpClient Http

<h1>Port forwards</h1>

<p>Configured port forwards.</p>

@if (_portForwards == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@nameof(Pod.Name)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var portForward in _portForwards)
            {
                <tr>
                    <td>@portForward.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Pod[] _portForwards;

    protected override async Task OnInitializedAsync()
    {
        _portForwards = await Http.GetFromJsonAsync<Pod[]>("PortForward");
    }

}
